# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files
# Repository URL: https://github.com/Ivanfejo06/Med-House-Native.git

# Node modules
*node_modules*

# Expo
dist/
web-build/
.expo

# Native files
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local environment files
.env*.local

# TypeScript
*.tsbuildinfo